USE [MusicPlayer]
GO
/****** Object:  Table [dbo].[Playlist]    Script Date: 2025/10/23 下午 08:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist](
	[SongID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Playlist] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[SongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongList]    Script Date: 2025/10/23 下午 08:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongList](
	[SongID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[artist] [nvarchar](255) NOT NULL,
	[file_path] [nvarchar](500) NULL,
	[download_date] [datetime] NULL,
 CONSTRAINT [PK_SongList] PRIMARY KEY CLUSTERED 
(
	[SongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/10/23 下午 08:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Avatar] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Playlist] ([SongID], [UserID]) VALUES (1, 1002)
INSERT [dbo].[Playlist] ([SongID], [UserID]) VALUES (3, 1002)
INSERT [dbo].[Playlist] ([SongID], [UserID]) VALUES (5, 1002)
GO
SET IDENTITY_INSERT [dbo].[SongList] ON 

INSERT [dbo].[SongList] ([SongID], [title], [artist], [file_path], [download_date]) VALUES (1, N'王艷薇 Evangeline -【離開我的依賴 Leaving】｜Official MV', N'王艷薇 Evangeline', N'downloads\王艷薇 Evangeline -【離開我的依賴 Leaving】｜Official MV.mp3', CAST(N'2025-09-24T00:33:34.397' AS DateTime))
INSERT [dbo].[SongList] ([SongID], [title], [artist], [file_path], [download_date]) VALUES (2, N'【纯享】薛之谦《租购》眼神传递故事 酣畅淋漓道尽矛盾与挣扎 | 音乐缘计划 | Melody Journey | iQIYI奇艺音悦台', N'薛之谦', N'downloads\【纯享】薛之谦《租购》眼神传递故事 酣畅淋漓道尽矛盾与挣扎 | 音乐缘计划 | Melody Journey | iQIYI奇艺音悦台.mp3', CAST(N'2025-09-24T00:33:49.140' AS DateTime))
INSERT [dbo].[SongList] ([SongID], [title], [artist], [file_path], [download_date]) VALUES (3, N'[avex官方] A-Lin 給我一個理由忘記 (MV完整版)', N'A-Lin', N'downloads\[avex官方] A-Lin 給我一個理由忘記 (MV完整版).mp3', CAST(N'2025-09-24T00:34:04.140' AS DateTime))
SET IDENTITY_INSERT [dbo].[SongList] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [CreatedAt], [Avatar]) VALUES (1002, N'QJhtest', N'/mfF8WCrS+YlMbFOJfoxm2OhrJsKdGqo34bSzd7bCzU=', N'asaz5410@gmail.com', CAST(N'2025-10-23T12:18:57.150' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 2025/10/23 下午 08:57:42 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_UserName]    Script Date: 2025/10/23 下午 08:57:42 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SongList] ADD  CONSTRAINT [DF_SongList_DownloadDate]  DEFAULT (getdate()) FOR [download_date]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Avatar]  DEFAULT ((0)) FOR [Avatar]
GO
ALTER TABLE [dbo].[Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Playlist_SongList] FOREIGN KEY([SongID])
REFERENCES [dbo].[SongList] ([SongID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Playlist] CHECK CONSTRAINT [FK_Playlist_SongList]
GO
ALTER TABLE [dbo].[Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Playlist_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Playlist] CHECK CONSTRAINT [FK_Playlist_Users]
GO
