USE [MusicPlayer]
GO
/****** Object:  Table [dbo].[Playlist]    Script Date: 2025/10/30 下午 08:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist](
	[SongID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Playlist] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[SongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongList]    Script Date: 2025/10/30 下午 08:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongList](
	[SongID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[artist] [nvarchar](255) NOT NULL,
	[file_path] [nvarchar](500) NULL,
 CONSTRAINT [PK_SongList] PRIMARY KEY CLUSTERED 
(
	[SongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/10/30 下午 08:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersExternal]    Script Date: 2025/10/30 下午 08:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersExternal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Provider] [nvarchar](50) NOT NULL,
	[ExternalKey] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Playlist] ([SongID], [UserID]) VALUES (1, 1002)
INSERT [dbo].[Playlist] ([SongID], [UserID]) VALUES (3, 1002)
INSERT [dbo].[Playlist] ([SongID], [UserID]) VALUES (5, 1002)
GO
SET IDENTITY_INSERT [dbo].[SongList] ON 

INSERT [dbo].[SongList] ([SongID], [title], [artist], [file_path]) VALUES (1, N'王艳薇 - 离开我的依赖', N'王艷薇 Evangeline', N'/music/王艳薇 - 离开我的依赖.mp3')
INSERT [dbo].[SongList] ([SongID], [title], [artist], [file_path]) VALUES (2, N'盧廣仲 Crowd Lu - 太陽與地球 Sun & Earth', N'盧廣仲 Crowd Lu', N'/music/盧廣仲 Crowd Lu - 太陽與地球 Sun & Earth.mp3')
INSERT [dbo].[SongList] ([SongID], [title], [artist], [file_path]) VALUES (3, N'盧廣仲-魚仔', N'盧廣仲 Crowd Lu', N'/music/盧廣仲-魚仔.mp3')
SET IDENTITY_INSERT [dbo].[SongList] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [CreatedAt]) VALUES (1002, N'QJhtest', N'/mfF8WCrS+YlMbFOJfoxm2OhrJsKdGqo34bSzd7bCzU=', N'asaz5410@gmail.com', CAST(N'2025-10-23T12:18:57.150' AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [CreatedAt]) VALUES (1003, N'QJhTTT', N'OVh7V+UjrE0yxoYRbDUvJBeWyiBV5nX11TG7VrvPSzQ=', N'QWER789@gmail.com', CAST(N'2025-10-29T16:21:21.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersExternal] ON 

INSERT [dbo].[UsersExternal] ([Id], [UserID], [Provider], [ExternalKey], [CreatedAt]) VALUES (1, 1002, N'Google', N'108934800214800403202', CAST(N'2025-10-29T09:48:51.2370000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UsersExternal] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 2025/10/30 下午 08:01:28 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_UserName]    Script Date: 2025/10/30 下午 08:01:28 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UsersExternal] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Playlist_SongList] FOREIGN KEY([SongID])
REFERENCES [dbo].[SongList] ([SongID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Playlist] CHECK CONSTRAINT [FK_Playlist_SongList]
GO
ALTER TABLE [dbo].[Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Playlist_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Playlist] CHECK CONSTRAINT [FK_Playlist_Users]
GO
ALTER TABLE [dbo].[UsersExternal]  WITH CHECK ADD  CONSTRAINT [FK_UsersExternal_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UsersExternal] CHECK CONSTRAINT [FK_UsersExternal_Users_UserID]
GO
